.roofingImg {
  height: auto;
  margin: 10px 3px;
  display: "flex";
  flex-direction: "column";
}
.default-image {
  max-height: 768px;
  width: 924px;
}

.default-image img {
  height: 768;
  width: 100%;
}

.second-image {
  max-height: 768px;
  width: 924px;
}

.second-image img {
  height: 768;
  width: 100%;
}

.vizual-wrapper {
  display: flex;
}

.roofing-list {
  width: 150px;
  height: 768px;
  overflow: auto;
}

@media screen and (max-width: 1024px) {
  .vizual-wrapper {
    display: block;
  }

  .roofing-list {
    width: 100%;
    height: auto;
    overflow: auto;
  }
}
